extends layout
block content
		main
			.form.addedit
							h2 Error
							p
								i * Please fill in required fields
							p
								i * The price must be a number
							br
							form(method="post")
								fieldset
									label(for="name") Apartment Name: 
									span.req * Required field
									input(name="name", type="text", placeholder="Enter an apartment name")
									label(for="city") City:
									span.req * Required field
									input(name="city", type="text", placeholder="Enter a city")
									label(for="address") Address:
									span.req * Required field
									input(name="address", type="text", placeholder="Enter an address")
									label(for="price") Monthly Price:
									span.req * Required field
									input(name="price", type="text", placeholder="Enter a monthly price")
									label(for="description") Description:
									textarea(name='description', placeholder="Enter a description")
									label(for="image") Apartment Image:
									input(name="image", type="text", placeholder="Enter an image")
									button.button(type="submit") Add New Apartment    