doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title WAD Project
		meta(name='author', content='Matheus Sturm, Ira Kriskovic, Eddy Flynn')
		link(href='https://fonts.googleapis.com/css?family=Pontano Sans', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700', rel='stylesheet')
		link(rel='stylesheet', href='../app.css', type='text/css')
		script(src='script.js')
	body
		header
			// slide show
			#Banner
				img#imx(src='/gallery/apartment1.jpg')
				button#slideBanner(onclick='changeImage()') 
				button#slideBanner(onclick='changeImage2()') 
				button#slideBanner(onclick='changeImage3()') 
				button#slideBanner(onclick='changeImage4()') 
				button#slideBanner(onclick='changeImage5()') 
				button#slideBanner(onclick='changeImage6()') 
			h1#logo
				a(href='/') IME Apartments
			// logo
			// navigation
			nav#mainNav
				ul.menu
					li
						a(href='/') Home
					li
						a(href='/team_members') Meet the Team
					li
						a(href='/partners') Partners
					li
						a(href='/contact') Contact
			#topbackground
		.clearfix
		
	block content
	
	footer
		div
			p
				| National College of Ireland
				br
				|           HDip in Science in Web Technologies
				br
				|           Web Application Development - Project 2018
		div
			p
				| Matheus Sturm
				br
				|           Ira Kriskovic
				br
				|           Eddy Flynn
		div#bottommenu
			ul.menu
				li
					a(href='/') Home
				li
					a(href='/team_members') Meet the Team
				li
					a(href='/partners') Partners
				li
					a(href='/contact') Contact