extends layout
block content
		main
			#contactInfo
				p Thank you for your interest in our work.
				p This form does not send an email.
				p
					| If you wish to contact us, please click on student's name to show or hide more info.
				.individualAp      
					.button.IME#Ira Ira
					.hide#IraInfo 
						img.apImage(src='ira.jpg', alt='Ira')
						p Ira Kriskovic
						p x17147778@student.ncirl.ie
				.individualAp								
					.button.IME#Matheus Matheus
					.hide#MatheusInfo
						img.apImage(src='matheus.jpg', alt='Matheus')
						p Matheus Sturm
						p x17145830@student.ncirl.ie
				.individualAp
					.button.IME#Eddy Eddy
					.hide#EddyInfo
						img.apImage(src='eddy.jpg', alt='Eddy')
						p Eddy Flynn
						p x16127820@student.ncirl.ie
				.clearfix
