/* default margin and pading set to 0 */
html, body, header, section, article, div, footer, p, h1, ul {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Pontano Sans', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	  background-size: contain;
}
/* clears floats */
.clearfix {
  clear: both;
}
.hide {
	display: none;
}
header {
  max-width: 1400px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#topbackground {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  background-color: rgba(255,255,255,.7);
}
#logo {
  float: left;
  display: inline-block;
  margin-left: 50px;
  position: absolute;
  left: 50px;   
  top: 25px;
  z-index: 1;
}
#logo a {
  font-family: 'Dancing Script', cursive;
  font-size: 1.15em;
}
header a {
  color: #0b537c;
}
nav {
  padding-right: 40px;
  text-transform: uppercase;
  position: absolute;
  right: 10px;   
  top: 35px;
  z-index: 1;
}
.menu a:hover {
	text-shadow: -1px 1px #fff, -1px -1px #fff;
}
ul.menu li {
  float: left;
  padding-left: 25px;
}

/* start Banner */ 
#imx {
  width: 100%;
  height: auto;
}
#slideBanner {
/* Adjust buttons for change image */ 
  width: 30px;
  height: 20px;
  font-weight: bold;
  font-size: 24px;
  margin: 5px;
  background: #0b537c;
  border-radius: 3px;
  border: none;
 }
#slideBanner:hover {
  opacity: 0.9;
}
/* end banner */ 

main {
  max-width: 1200px;
	width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
  margin: 70px auto;
}
footer {
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
	padding: 50px 0 0 0;
  text-align: center;
  background-color: #0b537c;
	color: #fff;
	line-height: 22px;
}
footer div {
  display: inline-block;
  width: 45%;
}
#bottommenu {
	width: 100%;
	margin-top: 45px;
	background-color: rgba(255,255,255,.7);
}
#bottommenu .menu {
	display: inline-block;
	text-transform: uppercase;
	font-size: .9em;
	box-sizing: border-box;
	padding: 15px 0 8px 0;
}
footer a {
	color: #0b537c;
}


/* index page */

#citySearch  {
  width: 50%;
  margin: 90px auto 0 auto;
}
ul.dropdownNav {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 25%;
  z-index: 10;
  left: 0;
  right: 0;
  margin: -28px auto 0 auto;
}
#citySearch li a {
  box-sizing: border-box;
  border: none;
	display: block;
	color: #fff;
  background-color: #0b537c;
  border-radius: 3px;
  padding: 10px 5px;
  margin: 20px auto;
  font-size: 1em;
}
.dropdownNav a {
  margin: 0;
}
.dropdownNav li {
  padding: 0;
  text-align: center;
  font-size: 1em;
}
#citySearch .button {
  padding: 0;
  text-align: center;
  font-size: 1em;
}


#mainIndex {
	margin-top: -40px;
}
#indexText {
	display: block;
	padding-top: 30px;
}
#indexText p {
	margin-top: 15px;
}
.button {
  width: 50%;
  box-sizing: border-box;
  border: none;
	display: block;
	color: #fff;
  background-color: #0b537c;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: .9em;
}
a.button {
	text-align: center;
}
a.button:hover {
	font-weight: bold;
}
.newbutton {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	margin: 30px auto;
}
.newbutton a {
	text-align: center;
}
/* add - edit form */
.req {
  font-style: italic;
  float: right;
  margin-right: 30px;
  margin-top: 25px;
  z-index: 5;
}


.individualAp {
	width: 33%;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 30px 30px;
	min-height: 150px;
}
.individualAp img {
	max-width: 100%;
	outline: 1px solid #0b537c;
	outline-offset: 3px;
}


/* form */
.form {
  position: relative;
  width: 100%;
  margin-bottom: 0;
}
.input-field {
  float: right;
  box-sizing: border-box;
  width: 48%;
}
.input-field:first-child{
  float:left;
}
input, textarea, button#proceed {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  background-color: #0b537c;
  border-radius: 3px;
  padding: 20px 30px;
  margin-top: 3px;
  font-size: .9em;
}
textarea {
  height: 100px;
}
.input-message, #input-captcha, input[type=submit], .button#proceed {
  margin-top: 30px;
}
#input-captcha, input[type=submit] {
  width: 48%;
  box-sizing: border-box;
}
#submit, #proceed {
  line-height: 0;
  color: #fff;
}

button#proceed {
  box-sizing: border-box;
  position: absolute;
  margin-top: 80px;
  width: 48%;
}
button#submit{
  padding: 20px 30px;
  margin-top: 35px;
  margin-left: 0;
  width: 48%;
}
#submit:hover, #proceed:hover {
  font-weight: bold;
}
#hidden-formfields {
  display: none;
}
#hidden-formfields.not-hidden {
  display: block;
  margin-top: -63px;
}
#form p {
  display: inline-block;
  color: #0b537c;
}
fieldset {
	border: none;
}
/* fields in focus or filled */
input:focus, textarea:focus, input:valid, textarea:valid, input:invalid, button#proceed:hover, button#proceed:active, input:active {
  color: #fff;
  font-family: 'Pontano Sans', sans-serif;  
}
input:focus, textarea:focus, input:hover, textarea:hover, button:hover, button:focus {
  outline: 1px solid #fff;
  outline-offset: -3px;
}
::placeholder {
   color: #fff;
   font-family: 'Pontano Sans', sans-serif;  
}
#empty-field {
  height: 70px;
}

.form.addedit label {
	margin-top: 25px;
	display: inline-block;
}
.form.addedit button {
	margin-top: 50px;
}


/* map */

#map {
  width: 100%;
  margin: 0 auto;  
}
iframe {
  width: 100%; 
  margin: 30px 0;
  min-height: 250px;
  height: 100%;
}
p#mapText {
  margin-top: 130px;
  display: block;
}


/* show page */

#mainShow {
	overflow: hidden;
}
#mainShow img {
	width: 100%;
	margin-top: 50px;
}
#mainShow p {
	margin-top: 30px;
}

/* thank you page */
.button.IME {
  width: 70%;
  
  display: block;
  padding: 7px 50px;
}
.button.IME::first-letter {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  font-weight: bold;
}
.hide img {
  width: 70%;
  margin: 15px auto 20px auto;
}









